.container {
    padding: 0 2rem;
    background-color: rgb(254, 254, 254);
  
   background-color: rgb(249, 248, 245) ;
  }
 
  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  
  }
  .nav{
    display: flex;
    flex-direction: row;
    
    
  }
  .nav2{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    
  }
  .nav button{
 margin-bottom: 18px;
 margin-left: 10px;

  }
  
  .bar{
    display: flex;
    flex-direction: row;
   
}
  
  .bar1{
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 0;
    filter: blur(0.5px);
  }

  .bar1 p{
    border: 1px solid #f1f1f1;
    padding: 3px 15px;
    background-color: #f1f1f1;
    margin-right: 15px;
  }
  .h3{
    font-weight: bold;
    font-size: 15px;
  }
  .bar2{
    filter: blur(0.5px);
    font-size: 12px;
  }
  .bar2 span{
    margin-left: 10px;
    
  }
  .edit23{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    margin-right: 78%;
    font-size: 10px;
    filter: blur(0.5px);
  }
  .h31{
    font-size: 12px;
    font-weight: bold;
    color: #0070f3;
  }
  
.box2{
  
  font-size: 10px;
  padding: 1%;
  
 
}
.box1{
  background-color: #0070f3;
  border-radius: 50%;
  text-align: center;
}
.box12{
  background-color: #918e8a;
  border-radius: 50%;
  text-align: center;
  color: #918e8a;
}
.ans{
  font-size: 19px;
}
.ans span{
  font-weight: bold;
  font-size: 12px;
}
.ans3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 18px;
}

.ans5{
font-size: 8px;
margin-left: 50px;
margin-top: -15px;

}
.ans51{
  font-size: 8px;
  margin-left: 50px;
  margin-top: -30px;
  
  }
.likebtn{
  background-color: white;
  border: none;
  box-shadow: none;
}
.likebtn2{
 color: black;
 height: 15px;
 width: 10px;
 box-shadow: none;
 justify-content: center;
 text-align: center;


}
.likebtn23{
  color: black;
  height: 15px;
  width: 10px;
  box-shadow: none;
  justify-content: center;
  text-align: center;
 }
.ans4{
  text-align: center;
  margin: 5px -5px;
  margin-top: -22px;
}
.ans41{
  text-align: center;
  margin: 5px -5px;
  margin-top: -22px;
  

}
.ans412{
  text-align: center;
  margin: 5px -5px;
  margin-top: -22px;
  

}
.ans6{
  margin-left: 720px;
  margin-top: -65px;

}
.ans61{
  margin-left: 720px;
  margin-top: -65px;

}
.ans612{
  margin-left: 720px;
  margin-top: -65px;

}
.h3122{
  font-size: 10px;
  font-weight: bold;
  color: #0070f3;
}
.addans{
  border: 1px solid rgb(215, 215, 215);
  padding: 5px;
  font-weight: bold;
}
.addans button{
  
  background-color: #918e8a;

}
.scroll{
  border: 1px solid rgb(182, 180, 180);
  margin-top: 10px;
}

.scrollbx{
  margin: 5px;
  border: 1px solid black;
  margin-right: 40px;
}
.scrollbx h5{
  font-size: 15px;
}
.scrollbx2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  filter: blur(0.5px);
  
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.header p{
  font-weight: bold;
  font-size: 14px;
}
.header span{
 color: #0070f3;
 font-size: 13px;

}
.sidebar{
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.pic img{
  width: 100%;
  height: 100%;
}
.btn{
  margin-left: 77%;
}
.btn button{
  margin-right: 7px;
}
.scrollbx2 span{
  border: 1px solid blue;
  border-radius: 50%;
  height: 5%;
  width: 10%;
  text-align: center;
  font-weight: bold;
  background-color: #0070f3;
}
.scrollbx2 p{
margin-left: 20px;
color: #918e8a;
font-size: 12px;
  
}
.reply1 {
  font-size: 12px;
}
.downbar{
  border: 1px solid rgb(233, 233, 233);
  text-align: center;
  color: #0070f3;
  padding: auto;
}
.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
